**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/*.user
**/*.suo
**/.env
**/.env.*
**/appsettings.*.local.json
**/secrets.json
**/nupkg
**/*.md
!README.md
.git
.github
.dockerignore
Dockerfile
**/.DS_Store
Thumbs.db
